services:
  app:
    build: .
    container_name: profun_app
    volumes:
      - .:/var/www/html
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: profun_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: profun
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: